.chat-item {
  height: 40px;
  padding: 12px 18px 11px 18px;
  border-bottom: 1px solid #2a2c34;
  overflow: hidden;

  .avatar-wrapper {
    float: left;
    width: 40px;
    height: 40px;
    background-color: blue;
    border-radius: 2px;

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 2px;
    }
  }
  .nickname {
    margin-left: 10px;
    width: 100px;
    height: 20px;
    float: left;
    line-height: 15px;
    font-family: 'Mplus 1p';
    font-size: 16px;
    color: #ededed;
    overflow: hidden;
  }
  .time {
    color: #eeeeee;
    width: auto;
    float: right;
    font-size: 14px;
    line-height: 20px;
  }

  .message {
    display: block;
    float: left;
    width: 182px;
    overflow: hidden;
    white-space:nowrap;
    margin-left: 10px;
    color: #999999;
  }
}

.selected {
  background-color: #3a3f44;
}
