<div class="container">

  <div *ngIf="!!title; else notSelected" class="selected-title">
    <!-- <div *ngIf="true"> -->

    <div class="title-wrapper">
      <div class="title">
        {{ target.username }}
      </div>
    </div>
    <div class="chat-area" ngx-auto-scroll lock-y-offset="10" observe-attributes>
      <div *ngFor="let message of messages | async as Message">
        <div *ngIf="message.from_username === username; else inContent">
          <div class="out-content">
            <img src="{{ avatarUrl }}" alt="" class="avatar ">
            <div class="text">
              {{ message.content }}
            </div>
          </div>

        </div>
        <ng-template #inContent>
          <div class="in-content">
            <img src="{{ target.avatarUrl }}" alt="" class="avatar">
            <div class="text">
              {{ message.content }}
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="foot-wrapper">
      <textarea class="editArea" [(ngModel)]="text"></textarea>
      <div class="action">
        <button pButton type="button" label="Send" class="ui-button-secondary" (click)="send()"></button>
      </div>
    </div>

  </div>
  <ng-template #notSelected>
    <div class="blank-chat-area">
      Anguline
    </div>
  </ng-template>


</div>
