<div class="login-container">
  <div class="input-container">
    <span class="ui-float-label">
      <input [(ngModel)]="username" class="float-input" id="float-input" type="text" size="20" pInputText style="width:100%;" pInputText >
      <label for="float-input">Username</label>
    </span>
    <div class="button-wrapper">
      <button pButton type="button" (click)="login($event)" style="width:130px;" label="login" class="ui-button-secondary" [disabled]=!isUsernameInput()></button>
    </div>
  </div>
</div>
